html {
	overflow: auto;
}

h1 {
    border: solid 2px black;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 64px;
    background-color: orange;
    padding-top: 10px;
    margin: -10px -10px 10px -10px;
    opacity: 0.9;
    box-shadow: 5px 5px 5px;
  }

a:link {
  color: blue;
}

a:visited{
  color: #000080;
}

a:hover{
  color: #ff0000;
}

#menu {
  border: solid 2px black;
  display: flex;
  width: 75%;
  background-color: orange;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#contents {
  border: solid 2px black;
  font-size: 18px;
  width: 20%;
  background-color:#CC9966;
  padding: 10px 20px 10px 20px;
  margin: 0px 0px 0px 0px;
}

#works{
  padding: 0px 0px 20px 0px;
}

.zirtaro {
    background-color: white;
    margin-top: 20px;
    margin-bottom: -10px;
    border: solid 5px black;
    border-radius: 50%;
}

.nutria {
    background-color: aquamarine;
    position: relative;
    margin: 10px -10px 20px -10px;
    width : 100px;
    height: 50px;
    animation-name: motria;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes motria{
  0% {
      left: 700px;
  }

  50%{
    left: 0%;
  }

  100%{
    left: -700px;
  }
}
.list1{
    border: solid 2px #333;
    border-radius: 5%;
    background-color: silver;
    color: black;
    font-weight: bold;
    font-style: italic;
    width: 25%;
    margin : 20px auto 20px auto;
    padding: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px;
}
.list2{
    width: 25%;
    color: white;
    background-color: #1f1e33;
    margin: 20px auto 20px auto;
    border: solid 2px silver;
    box-shadow: 5px 5px 5px black;
}

.back {
  margin: 10px auto 20px auto;
}

body {
    overflow: hidden;
    background-color: aquamarine;
    color: black;
    text-align: center;
}

#feedback {
  background-color: aquamarine;
  border: 1px solid #aaa;
  text-align: center;
  margin: auto;
}