h1 {
    color: yellow;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 64px;
    background-color: red;
    padding-top: 10px;
    margin: -10px -10px 10px -10px;
  }

.zirtaro{
    background-color: white;
    margin-top: 10px;
}
.list1{
    background-color: silver;
    color: black;
    font-weight: bold;
    font-style: italic;
    width: 50%;
    margin: auto;
    padding: 5px 5px 5px 5px
}
.list2{
    width: 25%;
    color: white;
    background-color: #1f1e33;
    margin: auto;
}

  body {
    background-color: aqua;
    color: black;
    text-align: center;
  }